<%# <% if @message %>
  <%# <dialog id="favDialog"> %>
    <%# <%= simple_form_for [@competitor, @message] do |f| %> 
      <%# <%= f.input :category, collection: { "Legal information" => "ID", "Human ressource" => "HR", "Key figures" => "Key Figures", "Brands" => "Brands" } %>
      <%# <%= f.input :content, label: "Message" %> 
      <%# <button id="cancelMessage">Cancel</button> <%= f.button :submit, "Send", id: "createMessage" %> 
    <%# <% end %> 
  <%# </dialog> %>
  <%# <button id="updateDetails">Add a comment</button> %>
<%# <% end %> 

<dialog id="favDialog">
  <%= simple_form_for [@competitor, @message] do |f| %>
    <span class="d-none"><%= f.input :category, input_html: { value: params[:section] } %></span>
    <%= f.input :content, label: "Message" %>
    <button id="cancelMessage">Cancel</button> <%= f.button :submit, "Send", id: "createMessage" %>
  <% end %>
</dialog>
<%# <button id="updateDetails">Add a comment</button> %>
