<div class="sidebar">
  <ul class="navbar-nav mr-auto">
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/jerome6128", class: "avatar-large", id: "sidebarLarge", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sidebarDropdown">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
  <div class="link-text-sidebar">
    <p class="<%= "highlight" if params[:action] == "index" %> pl-2 py-2"><i class="fas fa-rocket"></i> <%= link_to "My dashboard", competitors_path %></p>
    <p class="<%= "highlight" if params[:action] == "new" %> pl-2 py-2"><i class="fas fa-user-edit"></i> <%= link_to "Add a competitor", new_competitor_path %></p>
    <% if @competitor && !(@competitor.id.nil?) %>
      <div class="link-text-sidebar">
        <div class="d-flex-justify-content sidebar-section highlight py-2 pl-4">
          <%= @competitor.trading_name %>
        </div>
        <div class="section">
          <%= link_to "Legal information", competitor_path(@competitor, :section => "ID" ) %>
          <%= link_to "Human Ressources", competitor_path(@competitor, :section => "HR" ) %>
          <%= link_to "Key Figures", competitor_path(@competitor, :section => "Key Figures" ) %>
          <%= link_to "Brands", competitor_path(@competitor, :section => "Brands" ) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="sidebar-logo">
    <%= link_to root_path do %>
      <%= image_tag "logo_Shahmat.png" %>
    <% end %>
  </div>
</div>
