<div class="sidebar">
  <div class="sidebar-logo d-flex mb-5">
    <%= link_to root_path do %>
      <%= image_tag "logo_Shahmat.png" %>
    <% end %>
    <p>Shahmat</p>
  </div>
  
  <div class="link-text-sidebar">
    <p class="<%= "highlight" if params[:action] == "index" %> menu-item pl-2 py-2"><i class="fas fa-rocket"></i> <%= link_to "My dashboard", competitors_path %></p>
    <p class="<%= "highlight menu-item" if params[:action] == "new" %> pl-2 py-2"><i class="fas fa-user-edit"></i> <%= link_to "Add a competitor", new_competitor_path %></p>
    <% if @competitor && !(@competitor.id.nil?) %>
      <div class="link-text-sidebar">
        <div id="sidebar-results" data-competitor-id="<%= @competitor.id %>" class="d-flex-justify-content sidebar-section highlight py-2 pl-4">
          <%= @competitor.trading_name %>
        </div>
        <div class="section">
          <%= link_to "Legal information", competitor_path(@competitor, :section => "ID" ) %>
          <%= link_to "Human ressource", competitor_path(@competitor, :section => "HR" ) %>
          <%= link_to "Key figures", competitor_path(@competitor, :section => "Key Figures" ) %>
          <%= link_to "Brands", competitor_path(@competitor, :section => "Brands" ) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
