<div class="container <%= "hidden" unless params[:section] == "HR" %>">
  <div>
    <% if @competitor.photo.attached? %>
      <%= cl_image_tag @competitor.photo.key %>
    <% else %>
      <%= image_tag "logo-not-found.jpg", class: "competitor-logo" %>
    <% end %>
  </div>
  <hr>
  <h3 class=""> Recruitments</h3>
  <hr>
  <div class="contentShow">
    <div class="list-jobcard">
      <h3 style="font-size: 1.75rem; margin-bottom:30px;"> <%= competitor.job_offers.count %> Last job offers</h3>
      <% @competitor.job_offers.each do |job_offer| %>
        <div class="jobcard col-12 ">
          <div class="jobcard-infos">
            <h2><%= job_offer.title %></h2>
            <p><%= job_offer.location %></p>
            <p>posted : <%= job_offer.posting_date %> on <%= job_offer.source %></p>
          </div>
          <%= link_to " ", job_offer.job_url, target: :_blank, class: "job-details-link"%>
        </div>
      <% end %>
    </div>
    <div class="comments">
      <div class="headerComments">
        <h3>Comments <span class="nbComments"> <%= competitor.messages.where(category: "HR").count %> </span></h3>
        <p class="hrComments">RECRUITMENTS</p>
      </div>
      <%# <%= render "shared/popupform" %>
      <% if @competitor.messages.where(category: "HR").present? %>
        <% @competitor.messages.order(created_at: :desc).each do |message| %>
          <% if message.category == "HR" %>
            <div class="bodyComments">
              <div class="infoComments">
                <%= cl_image_tag message.user.photo.key, class: "avatar-bordered", alt: "avatar-bordered" %>
                <br>
                <%= message.user.name.capitalize %>
                <br>
                <%= message.created_at.strftime("%d/%m/%Y") %>
                <br>
                <%= message.created_at.strftime("%H:%M") %>
              </div>
              <div class="textComments"><%= message.content %></div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <span class="bodyComments"><%= "Be the first to leave a comment !" %></span>
      <% end %>
    </div>
  </div>
</div>
