
<div class="container <%= "hidden" unless params[:section] == "ID" %>">
  <div class="row align-items-center">
    <div class="col-sm-12 col-md-6">
      <% if @competitor.photo.attached? %>
        <%= cl_image_tag @competitor.photo.key %>
      <% else %>
        <%= image_tag "logo-not-found.jpg", class: "competitor-logo" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <hr>
      <h3>General information</h3>
      <hr>
      <ul class="list-unstyled bg-white p-2">
        <li class="p-1"><strong>Name: </strong><%= @competitor.brand_name %></li>
        <li class="p-1"><strong>Address: </strong> <%= @competitor.address %></li>
        <li class="p-1"><strong>Website: </strong> <%= @competitor.website %></li>
        <li class="p-1"><strong>SIREN: </strong> <%= @competitor.siren %></li>
        <li class="p-1"><strong>RCS: </strong> <%= @competitor.rcs %></li>
        <li class="p-1"><strong>SIRET: </strong> <%= @competitor.siret %></li>
        <li class="p-1"><strong>NAF: </strong> <%= @competitor.naf %></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6">
      <hr>
      <h3>Key Figures</h3>
      <hr>
      <table class="table table-striped">
        <tbody>
          <thead class="text-white bg-success">
            <th>Close</th>
            <th>Turnover</th>
            <th>Profit</th>
            <th>Workforce</th>
          </thead>
          <% @competitor.key_figures.each do |key_figure| %>
          <tr>
            <td><%= key_figure.close %></td>
            <td><%= key_figure.turnover %></td>
            <td><%= key_figure.profit %> </td>
            <td><%= key_figure.workforce %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
