
<div class="container <%= "hidden" unless params[:section] == "ID" %>">
  <div class="row align-items-center">
    <div class="col-sm-12 col-md-6">
      <% if @competitor.photo.attached? %>
        <%= cl_image_tag @competitor.photo.key %>
      <% else %>
        <%= image_tag "logo-not-found.jpg", class: "competitor-logo" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <hr>
      <h3>Legal information</h3>
      <hr>
      <div class="bg-white p-2 my-4">
        <h5 class="pb-2"><strong>Summary:</strong></h5>
        <p class="pl-5"><%= @competitor.summary %></p>
      </div>

      <div  class="bg-white p-2 my-4">
        <h5 class="pb-2"><strong>Legal details:</strong></h5>
        <ul class="pl-5 list-unstyled">
          <li><strong>Registration name: </strong><%= @competitor.brand_name %></li>
          <li><strong>Trading name: </strong><%= @competitor.trading_name %></li>
          <li><strong>Address: </strong> <%= @competitor.address %></li>
          <li><strong>Website: </strong> <%= @competitor.website %></li>
          <li><strong>SIREN: </strong> <%= @competitor.siren %></li>
          <li><strong>RCS: </strong> <%= @competitor.rcs %></li>
          <li><strong>SIRET: </strong> <%= @competitor.siret %></li>
          <li><strong>NAF: </strong> <%= @competitor.naf %></li>
          <li><strong>Legal form: </strong><%= @competitor.legal_form %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
