
<div class="container <%= "hidden" unless params[:section] == "ID" %>">
  <div class="row align-items-center justify-content-around">
    <div class="col-sm-12 col-md-6">
      <%= cl_image_tag @competitor.photo.key %>
    </div>
    <div class="col-sm-12 col-md-6">
      <h1><%= @competitor.brand_name %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <hr>
      <h3>General information</h3>
      <hr>
      <ul>
        <li>Name: <%= @competitor.brand_name %></li>
        <li>Address: <%= @competitor.address %></li>
        <li>Website: <%= @competitor.website %></li>
        <li>SIREN: <%= @competitor.siren %></li>
        <li>RCS: <%= @competitor.rcs %></li>
        <li>SIRET: <%= @competitor.siret %></li>
        <li>NAF: <%= @competitor.naf %></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6">
      <hr>
      <h3>Key Figures</h3>
      <hr>
      <table class="table table-striped">
        <tbody>
          <thead class="text-white bg-success">
            <th>Close</th>
            <th>Turnover</th>
            <th>Profit</th>
            <th>Workforce</th>
          </thead>
          <% @competitor.key_figures.each do |key_figure| %>
          <tr>
            <td><%= key_figure.close %></td>
            <td><%= key_figure.turnover %></td>
            <td><%= key_figure.profit %> </td>
            <td><%= key_figure.workforce %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
