<div class="flex-container">
  <%= render "shared/sidebar" %>
  <div class="container-search">
    <%= render "shared/navbar-inside" %>
    <div class="d-flex">
      <div>
        <div class="d-flex cards-top">
          <div class= "card-index-top">
            <h4>Competitors</h4>
            <h2> <%= @company.competitors.count %></h2>
          </div>
          <div class= "card-index-top">
            <h4>Comments</h4>
            <h2> <%= @company.messages.count %></h2>
          </div>
        </div>
        <div>
          <%= form_tag competitors_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a competitor in your list"
            %>
            <%= submit_tag "Search", class: "btn btn-gradient" %>
          <% end %>
        </div>
      </div>
      <div>
      </div>
    </div>
    <br><br>
    <% if @competitors.length == 0 %>
        <h3> # Competitor not found # Let's create it ! </h3>
    <% else %>
      <div class="cards link-text">
        <% @competitors.each do |competitor| %>
          <%= link_to competitor_path(competitor, section: "ID") do %>
            <div class="card-product">
              <% if competitor.photo.attached? %>
                <%= cl_image_tag(competitor.photo.key, :width=>300, :height=>120, :crop=>"pad")%>
              <% else %>
                  <%= image_tag "logo-not-found.jpg" %>
              <% end %>
              <% if competitor.today? %>
                <span class="badge badge-success"><i class="fas fa-bell"></i></span>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
