
<div class="flex-container">
  <%= render "shared/sidebar" %>

  <div class="container-search container-top-band sidebar-margin pl-4">
    <%= form_tag competitors_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a competitor in your list"
      %>
      <%= submit_tag "Search", class: "btn btn-gradient" %>
    <% end %>
    <br><br>
    <% if @competitors.length == 0 %>
        <h3> # Competitor not found # Let's create it ! </h3>
    <% else %>
      <div class="cards link-text">
        <% @competitors.each do |competitor| %>
          <%= link_to competitor_path(competitor) do %>
            <div class="card-product">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <span class="badge badge-success"><i class="fas fa-bell"></i></span>
              <div class="card-product-infos">
                <h2><%= competitor.brand_name %></h2>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
