
<div class="flex-container">
  <%= render "shared/sidebar" %>
  <div class="container-search">
    <%= render "shared/popupform" %>
    <%= render "shared/navbar-inside" %>
    <div id="results" data-competitor-id="<%= @competitor.id %>">
      <%= render "id_card", competitor: @competitor, visible: params[:section] == "ID"%>
      <%= render "hr", competitor: @competitor%>
      <%= render "key_figures", competitor: @competitor%>
    </div>
  </div>
</div>
