<div class="container">
  <h1>Competitor's information</h1>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <hr>
      <h3>General information</h1>
      <hr>
      <ul>
        <li><strong>Name: </strong><%= @competitor.brand_name %></li>
        <li><strong>Address: </strong><%= @competitor.address %></li>
        <li><strong>Website: </strong><%= @competitor.website %></li>
        <li><strong>SIREN: </strong><%= @competitor.siren %></li>
        <li><strong>RCS: </strong><%= @competitor.rcs %></li>
        <li><strong>SIRET: </strong><%= @competitor.siret %></li>
        <li><strong>NAF: </strong><%= @competitor.naf %></li>
      </ul>
    </div>


    <div class="col-sm-12 col-md-6">
      <hr>
      <h3>Key Figures</h3>
      <hr>
      <table class="table table-striped">
        <tbody>
          <thead class="text-white bg-success">
            <th>Close</th>
            <th>Turnover</th>
            <th>Profit</th>
            <th>Workforce</th>
          </thead>
          <% @competitor.key_figures.each do |key_figure| %>
          <tr>
            <td><%= key_figure.close %></td>
            <td><%= key_figure.turnover %></td>
            <td><%= key_figure.profit %> </td>
            <td><%= key_figure.workforce %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
