<div class="container">
  <div class="row">
    <div class="col">
      <h1>Competitor's information</h1>
      <%= @competitor.brand_name %>
      <%= @competitor.address %>
      <%= @competitor.website %>
      <%= @competitor.siren %>
      <%= @competitor.rcs %>
      <%= @competitor.siret %>
      <%= @competitor.naf %>
    </div>
  </div>
</div>
